################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/packages
/FileExplorer/bin/Debug
/FileExplorer/bin/Release
/FileExplorer/obj/Debug
/FileExplorer/obj/Release
